<html>
    <head>
        <title>data</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
         
          <center><h2>fee data list</h2></center>
        
          <table class="table table-border" border="2"> 
            <tr>
                <th>cardtitle</th>
                <th>cardcontent</th>
                <th>cardphoto</th>
                <th>update</th>
                <th>delete</th>     
            </tr>
            {% for i in o %}
            <tr>
                <td><h2>{{i.cardtitle}}</h2></td>
                <td>{{i.cardcontent}}</td>
                {% if i.cardphoto %}
                <td><img src="{{i.cardphoto.url}}" width=200px height=100px></td>
                {% else %}
                {% endif %} 

                
              <td><a href="/cardedit/{{i.id}}" class="fa fa-edit" style="font-size:20px;color:red">update</a></td>

                <td><a href="/carddelete_fee/{{i.id}}" class="fa fa-trash-o" style="font-size:20px;color:red">delete</a></td> 
            {% endfor %}   
            <button><a href="/cardinsert_fee/">add new element</a></button>

        </table>
    </body>
</html>   



        

        
