<!DOCTYPE html>
<html lang="en">
<head>
    <title>Class 1  Solutions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
 
    <style>
       .custom-textarea {      
      border: 1px solid #ccc;        
      padding: 10px;   
      padding-bottom: 2px;   
      border-radius: 30px;     
      background: #9689e3;
    
      
      }
      .solutions{
        background-color: white; border-radius: 30px; padding: 3px; padding-bottom: 1px;
        margin-top: 5px;
        font-family: "Times New Roman", Times, serif;
      }
      #sols{
        padding: 0%; margin: 0%;
      }
      #chaps{
        padding: 6px; padding-bottom: 15px; padding-top: 6px;
      }
      
    
    </style>
</head>
<body>
    <nav class="navbar " style="background-color: #7a6ad8;">
        <div class="container-fluid">
          <div class="navbar-header">
            
            <a class="navbar-brand" style="background-color: white; border-radius: 5px; padding: 4px;" href="#">LMS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">              
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
              </li>
               <li>
                <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navigation bar ends -->
   
        <p style="background-color: rgb(232, 228, 228); padding: 2px; margin: 0px; "></p>
        <br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-8">
                    <h2>Solutions for the Class 1 </h2>
                    <a href="#" style="text-decoration: none;">
                      <p>Subject Solutions <i class="fa fa-angle-right"></i></a> Textbook Solutions for the Class 1 </p>
                    <p> Last Updated date : 22/08/2022 <i class='fa fa-caret-right'></i> Total views <i class='fas fa-caret-right'></i> Views Today : 16.45K</p>
                </div>  
                <div class="col-3">
                  <img width="250px" height="130px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\banner.png">
                </div>              
            </div>
        </div>            
        <p style="background-color: rgb(232, 228, 228); padding: 2px;"></p>
        <div class="container-fluid">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-7">
              <h2>Chapter 6: Electromagnetic Induction</h2>
              <p>CBSE Class 12 Physics NCERT Solutions 2023-24 is provided in this article in the form of free-to-download pdf notes. Physics in Class 12 is one of the most crucial subjects for science students. To score well in the board exams, you must have a thorough understanding of each chapter of the subject. Solving and reviewing Class 12 Physics is made easier by the Class 12 Physics NCERT Solutions by Vedantu, these notes will help you to score brilliantly in Physics CBSE Class 12 examination.</p>
              <p>If you are a class 12 student we highly recommend solving these NCERT questions and acing your examinations! In this article, we have also provided a subject-wise syllabus of the class 12 subjects to help students understand the topics that they need to cover prior to attempting the NCERT exercise questions.</p>
            </div>
            <div class="col-1"></div>
            <div class="col-3 custom-textarea" style="height:max-content; padding-bottom: 10px; margin-top: 15px; ">
            <div class="solutions">
              <p style="text-align: center; font-size: bold; padding-top: 10px;">All Classes Solution manual</p>
              <hr>
              <ul>
                <li>
                  <a href="#" style="text-decoration: none;"><p id="sols">Class 2 Solution manual</p></a>
                </li>
                <li>
                  <a href="#" style="text-decoration: none;"><p id="sols">Class 3 Solution manual</p></a>
                </li>
                <li>
                  <a href="#" style="text-decoration: none;"><p id="sols">Class 4 Solution manual</p></a>
                </li>
                <li>
                  <a href="#" style="text-decoration: none;"><p id="sols">Class 5 Solution manual</p></a>
                </li>
                <li>
                  <a href="#" style="text-decoration: none;"><p id="sols">Class 6 Solution manual</p></a>
                </li>
              </ul>
            </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-7" >
              <h2>Detailed Overview of Solutions for Class 1</h2>
              <table border="2" class="table">
                <tr>
                  <th>Class :</th><td>1</td>
                </tr>
                <tr>
                  <th>Content Type :</th><td>Text,Videos,Images,and Format</td>
                </tr>
                <tr>
                  <th>Academic Year :</th><td>2023-2024</td>
                </tr>
                <tr>
                  <th>Medium :</th><td>English, Telugu</td>
                </tr>
                <tr>
                  <th>Available Materials :</th><td>Chapter Wise</td>
                </tr>
                <tr>
                  <th>Textbooks:</th><td> CBSE, ICSE, SSC</td>
                </tr>
              </table>
              </div>
              <div class="col-1"></div>
              
              <div class="col-3 custom-textarea" style="height:max-content; padding-bottom: 10px; margin-top: 15px;">
                <div class="solutions">
                  <p style="text-align: center; font-size: bold; padding-top: 20px;">Important Notes</p>
                  <hr>
                  <ul>
                    <li>
                      <a href="#" style="text-decoration: none;"><p id="sols">JEE results</p></a>
                    </li>
                    <li>
                      <a href="#" style="text-decoration: none;"><p id="sols">JEE Day 1 Phase 1 </p></a>
                    </li>
                    <li>
                      <a href="#" style="text-decoration: none;"><p id="sols">JEE Day 1 phase 2</p></a>
                    </li>
                    <li>
                      <a href="#" style="text-decoration: none;"><p id="sols">JEE Day 2 Phase 1</p></a>
                    </li>
                    <li>
                      <a href="#" style="text-decoration: none;"><p id="sols">JEE Day 2 Phase 2</p></a>
                    </li>
                  </ul>
                </div>
                </div>            
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-8" >
              <h2>Solutions For Class 1 - Chapter at a Glance: A Sneak Peek Into Chapters</h2> 
              <p>Class 12 is a crucial phase in students' academic journey as they prepare for higher education and future career paths. To excel in their examinations, it is essential for students to have a comprehensive understanding of the chapters covered in each subject. The NCERT Solutions for Class 12 provide a valuable resource for their studies. Understanding the class 12 chapters in each subject becomes essential for building a strong foundation for future studies. 
              <p> To navigate through the vast curriculum, it is essential to have a clear understanding of each subject and its respective chapters. A chapter at a glance provides a quick overview, highlighting the key topics covered in each subject. This helps you to score more in examinations. Prepare with Chapter at a Glance and NCERT Solutions for Class 12 for better results.</p>
              </div>
            <div class="col-3">
              <div style="background-color: #f2e9e9; height: 180px; width: 260px;">
              <center>
              <img height="150px" width="230px" style="margin-top: 10px;" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\writing.jpg" >                  
            </center>
            </div>
            </div>
          </div>
        </div>
        <br>

        <!-- <div class="container-fluid">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
              <img height="150px" width="230px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\writing.jpg" width="60px" height="60px">
            </div>
            <div class="col-8">
              <h2>Chapter 1 Solutions : The Glance</h2>
              <p>The concept of "Chapter at a Glance For Physics" provides a concise overview of the chapters in Physics Class 12, enabling students to grasp the key topics and themes. You can get Class 12 Chapters in a capsule form which Vedantu’s Master Teachers create.With our meticulously designed solutions, you can delve into concepts such as mechanics, thermodynamics, electromagnetism, and more. Whether you're preparing for exams or aiming to deepen your understanding of the subject, our NCERT Solutions for Class 12 Physics are your ultimate study companion. Master the laws of nature and excel in your Class 12 examinations. Explore our Chapter at a Glance series today and unlock the mysteries of physics!</p>
            </div>            
          </div>
        </div> -->
        <br>

        <!-- <div class="container-fluid">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
              <img height="150px" width="230px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\writing.jpg" width="60px" height="60px">
            </div>
            <div class="col-1"></div>
            <div class="col-3">
              <img height="150px" width="230px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\writing.jpg" width="60px" height="60px">
            </div>  
            <div class="col-1"></div>          
            <div class="col-3">
              <img height="150px" width="230px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\writing.jpg" width="60px" height="60px">
            </div>
            
          </div>
        </div> -->

        <br>

        <div class="container-fluid">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
              <h2>Subject wise Solutions for Class 1</h2>
              <p>Mentioned below in the table is the link to subject-wise NCERT solutions for class 1. The NCERT solutions for maths, physics, chemistry and biology are included in the table</p>

              <table class="table table-bordered">
                <tr>
                  <th style="text-align: center; background-color:#7a6ad8" >Class 1 Subjects Solutions</th>
                </tr>
                <tr>
                  <th><a href="#" style="text-decoration: none;">Solutions for Class 1 Telugu </a></th>
                </tr>
                <tr>
                  <th><a href="#" style="text-decoration: none;">Solutions for Class 1 Hindi</a></th>
                </tr>
                <tr>
                  <th><a href="#" style="text-decoration: none;">Solutions for Class 1 English</a></th>
                </tr>
                <tr>
                  <th><a href="#" style="text-decoration: none;">Solutions for Class 1 Maths </a></th>
                </tr>
                <tr>
                  <th><a href="#" style="text-decoration: none;">Solutions for Class 1 Science </a></th>
                </tr>
                <tr>
                  <th><a href="#" style="text-decoration: none;">Solutions for Class 1 Social </a></th>
                </tr>
              </table>      
              </div>
            <div class="col-3">
            </div>
          </div>
        </div>
        <p style="background-color: rgb(232, 228, 228); padding: 2px; margin: 0px;"></p>
        <br>

        <div class="container-fluid">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-7" style="background-color: #7a6ad8; border-radius: 30px; height:max-content; padding-bottom: 10px;">
              <h2 style="padding-top: 10px; text-align: center;"> Solutions for Class 1 Maths PDF Download</h2>
              <div class="solutions">
              <ul>
                <li style="padding-bottom: 15px; padding-top: 10px;">
                  <a href="#" style="text-decoration: none;">Chapter 1 : Algebra   <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a> 
                </li>
                <li id="chaps">
                  <a href="#" style="text-decoration: none;">Chapter 2 : Algorithms <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>
                </li>
                <li id="chaps">
                  <a href="#" style="text-decoration: none;">Chapter 3 : Scalar Analytics  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> 
                </li>
                <li id="chaps">
                  <a href="#" style="text-decoration: none;">Chapter 4 : Lines and Methods     <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> 
                </li>
                <li id="chaps">
                  <a href="#" style="text-decoration: none;">Chapter 5 : Geometry  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> 
                </li>
                <li id="chaps">
                  <a href="#" style="text-decoration: none;">Chapter 6 : Scalar Analytics <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> 
                </li>
                <li id="chaps">
                  <a href="#" style="text-decoration: none;">Chapter 7 : Lines and Methods   <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>  
                </li>
                <li style="padding-top: 6px;">
                  <a href="#" style="text-decoration: none;">Chapter 8 : Geometry    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>  
                </li>
              </ul>
            </div>
            </div>
            <div class="col-1"></div>
          </div>
        </div> 
        <br>
        <br>

        <div class="container-fluid">
          <div class="row">
          <div class="col-1"></div>
          <div class="col-7">         
           <div>
            <a href="#">JEE</a>
            <a href="#">OLYMPIAD</a>
           </div>
           <h2>Best Courses for you</h2>
           <br>
           <div class="container-fluid">
            <div class="row">
           <div class="col-3">
           <img width="100px" height="100px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\telugu.jpg">
           <figcaption>Telugu</figcaption>
           </div>
          <div class="col-3">
           <img width="100px" height="100px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\hindi.jpg">
           <figcaption>Hindi</figcaption>
          </div>
          <div class="col-3">
            <img width="100px" height="100px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\english.jpg">
            <figcaption>English</figcaption>
           </div>
           <div class="col-3">
            <img width="100px" height="100px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\maths.jpg">
            <figcaption>Mathematics</figcaption>
           </div>
        </div>
        </div>
        <br>

        <div class="container-fluid">
          <div class="row">
         <div class="col-3">
         <img width="100px" height="100px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\scienece.jpg">
         <figcaption>Science</figcaption>
        </div>
        <div class="col-3">
         <img width="100px" height="100px" src="C:\Users\DevelopTrees.NAVEEN12\AppData\Local\Programs\Python\Python311\Scripts\learning\static\assets\images\social.jpg">
         <figcaption>Social</figcaption>
        </div>        
      </div>
      </div>

         
        </div>
          <div class="col-4"></div>
        </div>
      </div>
      <br>
      <br>
</body>
</html>
