{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src=" " alt=""
            class="brand-image img-circle elevation-3" >
        <!-- <span class="brand-text font-weight-light">Admin Panel</span> -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                
<li class="nav-item has-treeview">
    <a href="http://127.0.0.1:8000/retrieve" class="nav-link">
        <i class="nav-icon fas fa-building"></i>
        <p>
            View Schools
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>

    <a href="http://127.0.0.1:8000/adminA" class="nav-link">
        <p>
            Logout
        </p>
        </a>

    </ul>
</li>

<!-- Continue with the rest of your sidebar items -->

                


                   



                                      
                                    </ul>
                                </nav>
                                <!-- /.sidebar-menu -->
                            </div>
                            <!-- /.sidebar -->
</aside>