<html>
    <head>
        <title>timetable_update3</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    </head>
    <body>
        <form method="post" action="/timetable_update3/{{u3.id}}" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <label>images</label>
                <input type="file" name="images" class="form-control" value="{{u3.image}}">
            </div>
            <div class="form-group">
                <label>heading</label>
                <input type="text" name="heading" class="form-control" value="{{u3.heading}}">
            </div>
            <div class="form-group">
                <label>content</label>
                <input type="text" name="content" class="form-control" value="{{u3.content}}">
            </div>
            <input type="submit" class="btn btn-block btn-success">
        </form>
    </body>
</html>

